services:
  seerr:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - WIZARR_URL=https://wizarr.apexnova.live
      - WIZARR_TOKEN=Gq71lsOIjXF6iiyvJ6l7BBuoF5GocMSB3NXyt_h5VqE
      - WIZARR_HEADER=x-api-key
      - JELLYFIN_ADMIN_API_KEY=5fca636b59304965aa36d3e7907ecc61
      - JELLYFIN_TRIAL_DURATION_DAYS=7
    ports:
      - 5055:5055
    volumes:
      - .:/app:rw,cached
      - /app/node_modules
      - /app/.next
